body{
    background-color: black;
    transition: background-color 0.5s ease-out;
    text-align: center;
}
body.lightmode{
    background-color: white;
}
p {
    color:aliceblue;
}
p.fontlightmode{
    color:black;
}
#counts {
    color:aliceblue;
}
#counts.lightmode{
    color:black;
}